<div class="col-md-4 infoBox userBox">
  <div>
    <p>ユーザー情報</p>
    <div id="clientInfo">
      <table>
        <tr>
          <td>会社名：</td>
          <td class="tb">
            <%= @client.company %>
          </td>
        </tr>
        <tr>
          <td>名前：</td>
          <td class="tb">
            <%= @client.name %>
          </td>
        </tr>
        <tr>
          <td>電話番号：</td>
          <td class="tb">
            <%= @client.phonenumber %>
          </td>
        </tr>
        <tr>
          <td>email：</td>
          <td class="tb">
            <%= @client.email %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>