<div class="back-img">
  <div class="container">
    <div class="col-xs-4 bg-white homeBox">
      <h1>MANAGET<br><span class="sub-2">(マネジット)</span></h1>
      <p>
        あなたの<br>
        <span class="sub">「顧客情報の管理」</span> を<br>サポートします。
      </p>
      <div class="margin-top30">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-success nav-link width-50 margin-auto" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-4 expBox">
     <h1>" MANAGET "<span class="sub">とは?</span></h1>
     <p>営業においては、顧客との関係性が特に重要です。<br>
        その為、効率的に仕事を行うためには<br>
        顧客情報の管理はとても重要だと考えます。<br>
        しかし、管理に時間がとられてしまうことがある為、<br>
        「素早く」「手軽」 に管理が出来るようにしたい<br>
        という気持ちを込めて作成しました。</p>
  </div>
</div>